 <!-- Three columns of text below the carousel -->
<div class="row">
    <h3>Como Funciona?</h3>
    <div class="row featurette">
        <div class="col-md-7">
            <h4 class="featurette-heading">Preciso me prepara. <span class="text-muted">O que fazer?</span></h4>
            <p class="lead" style="font-size:smaller">
                No LocCapacita você terá acesso a muitos treinamentos, onde você poderá aplicar filtros,
                como localidade, Areas de interesse e nome de cursos.
            </p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="images/startup-2188681_1920.jpg" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
            <h4 class="featurette-heading">Muitos Centros de Treinamento. <span class="text-muted">Como escolher?</span></h4>
            <p class="lead" style="font-size:smaller">
                Atualmente existem muitos centros de treinamentos, mas através de avaliações feitas pelosusuários será possivel avaliar
                o melhor treinamento baseado em indicadores de qualidade de curso.
            </p>
        </div>
        <div class="col-md-5 col-md-pull-7">
            <img class="featurette-image img-responsive center-block" src="~/images/shop-2107901_1920.png" alt="Generic placeholder image">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h4 class="featurette-heading">Achei Minha capacitação. <span class="text-muted">E agora?.</span></h4>
            <p class="lead" style="font-size:smaller">Através do LocCapacita você poderá comprar sua capacitação tendo um desconto.</p>
        </div>
        <div class="col-md-5">
            <img class="featurette-image img-responsive center-block" src="~/images/ecommerce-2140604_1920.jpg" alt="Generic placeholder image">
        </div>
    </div>


    <hr class="featurette-divider">
</div>
<div class="row">
    <h3>Destaques</h3>
    <div class="col-lg-3">
        <img class="img-thumbnail" src="~/images/banner2.svg" alt="Generic placeholder image" style="border-color:black; width:140px; height:140px">
        @*<h2>Heading</h2>*@
        <p>@*Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id.*@</p>
        @*<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>*@
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3">
        <img class="img-thumbnail" src="~/images/banner1.svg" alt="Generic placeholder image" style=" border-color:black; width:140px; height:140px">
        @*<h2>Heading</h2>*@
        <p>@*Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.*@</p>
        @*<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>*@
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3">
        <img class="img-thumbnail" src="~/images/banner3.svg" alt="Generic placeholder image" style="border-color:black; width:140px; height:140px">
        @*<h2>Heading</h2>*@
        <p>@*Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis .*@</p>
        @*<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>*@
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3">
        <img class="img-thumbnail" src="~/images/banner3.svg" alt="Generic placeholder image" style="border-color:black; width:140px; height:140px">
        @*<h2>Heading</h2>*@
        <p>@*Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis .*@</p>
        @*<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>*@
    </div><!-- /.col-lg-4 -->
</div>

<div class="row">
    <h3>Parceiros</h3>
    <div class="col-lg-3">
        <img class="img-thumbnail" src="~/images/banner2.svg" alt="Generic placeholder image" style="border-color:black; width:140px; height:140px">
        @*<h2>Heading</h2>*@
        <p>@*Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id.*@</p>
        @*<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>*@
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3">
        <img class="img-thumbnail" src="~/images/banner1.svg" alt="Generic placeholder image" style=" border-color:black; width:140px; height:140px">
        @*<h2>Heading</h2>*@
        <p>@*Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.*@</p>
        @*<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>*@
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3">
        <img class="img-thumbnail" src="~/images/banner3.svg" alt="Generic placeholder image" style="border-color:black; width:140px; height:140px">
        @*<h2>Heading</h2>*@
        <p>@*Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis .*@</p>
        @*<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>*@
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3">
        <img class="img-thumbnail" src="~/images/banner3.svg" alt="Generic placeholder image" style="border-color:black; width:140px; height:140px">
        @*<h2>Heading</h2>*@
        <p>@*Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis .*@</p>
        @*<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>*@
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
<div class="row">

    <div class="col-lg-3">
        <img class="img-thumbnail" src="~/images/banner2.svg" alt="Generic placeholder image" style=" border-color:black;width:140px; height:140px">
        @*<h2>Heading</h2>*@
        @*<p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id.</p>*@
        @*<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>*@
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3">
        <img class="img-thumbnail" src="~/images/banner1.svg" alt="Generic placeholder image" style="border-color:black; width:140px; height:140px">
        @*<h2>Heading</h2>*@
        <p>@*Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.*@</p>
        @*<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>*@
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3">
        <img class="img-thumbnail" src="~/images/banner3.svg" alt="Generic placeholder image" style="border-color:black; width:140px; height:140px">
        @*<h2>Heading</h2>*@
        <p>@*Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis .*@</p>
        @*<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>*@
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-3">
        <img class="img-thumbnail" src="~/images/banner3.svg" alt="Generic placeholder image" style="border-color:black; width:140px; height:140px">
        @*<h2>Heading</h2>*@
        <p>@*Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta felis .*@</p>
        @*<p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>*@
    </div><!-- /.col-lg-4 -->
</div><!-- /.row -->
